:root {
    --brown-dark: #2C1A0E;
    --brown-mid: #6B3A1F;
    --brown-warm: #A0522D;
    --brown-light: #C8885A;
    --gold: #D4A250;
    --cream: #FFF8F0;
    --cream-dark: #F0E0CC;
    --cream-border: #E8C9A8;
    --text-dark: #1C0F06;
    --text-mid: #5A3020;
    --zinc:#18181b
}

/* --- RESET & BASIC --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  body {
    font-family: 'Cormorant Garamond', serif;
    background: var(--cream);
    color: var(--text-dark);
    overflow-x: hidden;
  }


/* Fitur: Text Effect */
.text-effect {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in;
    /* Fitur: Animations */
}

/* Fitur: Button */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    /* Fitur: Transitions */
}

.btn-primary:hover {
    background-color: #d35400;
}

/* --- LAYOUT UTAMA --- */
.container {
    padding: 40px 5%;
}

.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Animasi Sederhana */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}