:root {
    --brown-dark: #2C1A0E;
    --brown-mid: #6B3A1F;
    --brown-warm: #A0522D;
    --brown-light: #C8885A;
    --gold: #D4A250;
    --cream: #FFF8F0;
    --cream-dark: #F0E0CC;
    --cream-border: #E8C9A8;
    --text-dark: #1C0F06;
    --text-mid: #5A3020;
    --zinc: #18181b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--gold);
    color: var(--brown-dark);
}

body {
    font-family: 'Cormorant Garamond', serif;
    background: var(--cream);
    color: var(--text-dark);
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Custom Scrollbar untuk Chrome, Safari, dan Edge */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(28, 15, 6, 0.95);
    ;
    /* Latar belakang scrollbar */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--brown-mid), var(--gold));
    /* Gradasi cokelat ke emas */
    border-radius: 20px;
    border: 2px solid var(--brown-dark);
    /* Memberi ruang napas */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gold);
    /* Emas menyala saat disentuh */
}

/* Untuk Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--gold) var(--brown-dark);
}
img {
  pointer-events: none;       /* Mencegah gambar diklik/diseret */
}