.page {
    padding: 40px;
    /* JANGAN taruh animasi fade-out di sini agar tidak kelip saat link diklik */
}

/* Base Lapisan Tirai (In & Out) */
.in-page, .out-page {
    position: fixed;
    top: -50vh;   
    left: -50vw;  
    width: 200vw; 
    height: 200vh;
    background-color: var(--brown-mid);
    z-index: 999999; 
    transform: rotate(-25deg);
    pointer-events: none; 
    display: none; /* Sembunyikan default */
}

/* Jalankan Animasi Masuk */
.in-page.jalan {
    display: block;
    animation: slideOutRightUp 1.2s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

/* Jalankan Animasi Keluar */
.out-page.aktif {
    display: block;
    transform: rotate(-25deg) translate(0, 100%); /* Start posisi luar layar */
    animation: slideInRightUp 1.2s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
