/* --- NAVBAR (Mobile First) --- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: var(--brown-dark);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    height: 64px;
    border-bottom: 1px solid var(--brown-dark);
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    color: var(--gold);
    letter-spacing: 2px;
    font-style: italic;
    padding: 20px;
}


.nav-links a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.72rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--cream-dark);
    text-decoration: none;
    opacity: 0.85;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: var(--gold);
    opacity: 1;
}

.menu-toggle {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.dropdown-parent button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.72rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--cream-dark);
    text-decoration: none;
    opacity: 0.85;
    transition: all 0.3s ease;
}
.dropdown-parent button:hover{
    color: var(--gold);
    opacity: 1;
}
.dropdown-content{
    background-color: var( --zinc);
}
.dropdown-content a:hover{
    background-color: var( --brown-dark);
}

